# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
	'atom-text-editor': [
		{
			'label': 'Toggle Hex View'
			'command': 'hix:toggle'
		}
	]
'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'Hix'
			'submenu': [
				{
					'label': 'Toggle Hex Editor'
					'command': 'hix:toggle'
				}
			]
		]
	}
]
